.item {
    margin: 1rem 1rem;
    width: 15rem;
    height: auto;
    display:inline;
    align-items: center;
  }
  .item:hover {
    cursor: pointer;
  }
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0.25rem;
    color: #5D5D5D;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width : 500px) {
    .item {
      margin: 1rem 2rem;
      width: 15rem;
      height: auto;
      display:inline;
      align-items: center;
      justify-content: center;
    }
    .content {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0.25rem;
      color: #5D5D5D;
      font-size: 1.1rem;
    }
  }