.list {
    list-style: none;
    padding: 0 ;
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
    width: 90%;    
    /* flex-wrap: wrap;  */
    height: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    overflow: auto;
  }

  .noItems {
    color: #989898;
    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 1rem;
  }
  
  @media screen and (max-width : 500px) {
    .list {
      list-style: none;
      padding: 0 ;
      margin-top: 0.5rem;
      flex-direction: column;
      display: flex;
      width: 93%;    
      /* flex-wrap: wrap;  */
      height: 100%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      overflow: auto;
    }
  }