.list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    /* background-color: red; */
    width: 100%;    
    flex-wrap: wrap; 
    height: 100%;
  }