.container {
  /* background-color: #989898; */
  margin: 0;
  display: flex;
  flex-direction: column;
}
.headercontainer{
  position: fixed; 
  top: 0; 
  left: 0; 
  display: flex;
  flex-direction: column; 
  width: 100%; 
  background-color: white; 
  z-index: 10
}
.spinnercontainer{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 50vh; 
  margin-top: 13rem
}
.main {
    /* margin: 3rem auto; */
    width: 100%;
    /* height: auto; */
    /* max-height: 75rem; */
    /* min-height: 25rem; */
    margin-left: 0rem;
    margin-right: 0rem;
    /* background-color: blueviolet; */
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
.hr {
  /* box-shadow: 0 2px 8px #989898; */
  /* border-top: 0.25px solid #989898; */
  height: '0.5px';
  background-color: #989898;
}
.title {
  display: flex; 
  height: 5rem; 
  align-items: center; 
  justify-content: center;
  color: #657415;
  font-family: inherit; 
  font-size: 1.5rem; 
  font-weight: bold;
}
.spinnerwrapper {
  /* height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10;  */
  height: 50vh;
  width: 100vh;
  margin-left: 0rem;
  margin-right: 0rem;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin: 0px auto;
  -webkit-animation: rotation .7s infinite linear;
  -moz-animation: rotation .7s infinite linear;
  -o-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
  border: 6px solid #657415;
  border-radius: 45%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

