.header {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #657415;
    padding: 0 5%;
  }
 
  .logo {
    color: white;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 1rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #989898;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }

  @media screen and (max-width : 500px) {
    .header li {
      margin-left: 0.5rem;
    }
    .header a {
      text-decoration: none;
      font-size: 1rem;
      color: #989898;
    }
  }