.list {
    list-style: none;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding-top: 1rem; */
    flex-direction: row;
    display: flex;
    /* background-color: red; */
    width: 100%;    
    flex-wrap: wrap; 
    /* height: 20rem; */
  }

  .noItems {
    color: #989898;
    display: flex;
    justify-content: center;
    margin: 5rem;
    width: 100%;
  }

  @media screen and (max-width : 500px) {
    .list {
      list-style: none;
      padding-left: 2rem;
      padding-right: 2rem;
      flex-direction: column;
      display: flex;
      width: 100%;    
      flex-wrap: wrap; 
      align-items: center;
      justify-content: center;
    }
  
    .noItems {
      color: #989898;
      display: flex;
      justify-content: center;
      margin: 5rem;
      width: 100%;
      font-size: 0.85rem;
    }
  }