.details {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    width: 93%;
    height: auto;
    /* background-color: blueviolet; */
    border-radius: 4px;
    margin: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color:ghostwhite;
}
.details img {
    width: 45%;
}

.subContainer {
    position: relative;
    margin: 1rem;
    height: auto;
}

.details h1 {
    font-size: 2rem;
    font-family: inherit;
    color: #657415;
}

.details h2 {
    font-size: 1.5rem;
    color: #5D5D5D;
    font-family: inherit;
}

.details h3 {
    color: #989898;
    font-family: inherit;
    font-weight: normal;
}

.details p {
    color: #989898;
    font-family: inherit;
    height: auto;
    overflow: auto;
}

.buttons {
    height: auto;
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.buttoncart {
    width: 10rem;
    height: 3rem;
    background-color: #657415;
    color: white;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.buttonwhatsup {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    background-color:#5D5D5D;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.ul {
    overflow: auto;
    width: 100%; 
    height: auto;
    color: #989898;
}

.li {
    margin: 0;
    margin-bottom: 0.2rem;
}

.ingredients {
    color: #DEB920;
    font-size: 1.25rem;
}
.description {
    margin-top: 1rem;
}
.warningdiv {
    display: flex; 
    align-items: center; 
    font-size: 1rem; 
    color: red; 
    margin-top: 1rem
}
.buttoncart:disabled,
.button[disabled]
{
  /* border: 1px solid #999999; */
  background-color: #989898;
  /* color: #666666; */
}
@media screen and (max-width : 500px) {
    .details {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: auto;
        border-radius: 4px;
        margin: 0.5rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        background-color:ghostwhite;
    }
    .details img {
        width: 100%;
    }
    .subContainer {
        position: relative;
        margin: 0.5rem;
    }
    .ul {
        overflow: auto;
        width: 100%; 
        height: auto;
        color: #989898;
        font-size: 0.85rem;
    }
    .details h1 {
        font-size: 1rem;
        font-family: inherit;
        color: #657415;
    }
    
    .details h2 {
        font-size: 0.85rem;
        color: #5D5D5D;
        font-family: inherit;
    }
    .details h3 {
        color: #989898;
        font-family: inherit;
        font-weight: normal;
        font-size: 0.75rem;
    }
    
    .details p {
        color: #989898;
        font-family: inherit;
        height: auto;
        overflow: auto;
        font-size: 0.75rem;
    }
    
    .buttons {
        height: auto;
        display: flex;
        align-items: baseline;
        flex-direction: row;
    }
    .buttoncart {
        width: 7rem;
        height: 2rem;
        background-color: #657415;
        color: white;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        font-size: 0.85rem;
    }
    
    .buttonwhatsup {
        width: 7rem;
        height: 2rem;
        margin: 0.5rem;
        background-color:#5D5D5D;
        color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border: none;
    }
    
    .qtyminus {
        background-color: ghostwhite;
        height: 2rem;
        margin-left: 0.5rem;
        border-width: 1px;
        color: #5D5D5D;
        border-color: #989898;
        border-right: 0;
    }
    
    .qtyplus {
        background-color: ghostwhite;
        height: 2rem;
        border-width: 1px;
        color: #5D5D5D;
        border-color: #989898;
        margin-right: 0.5rem;
    }
   
    .ingredients {
        color: #DEB920;
        font-size: 0.85rem;
    }

    .description {
        margin-top: 0.5rem;
    }
    .warningdiv {
        display: flex; 
        align-items: center; 
        font-size: 0.85rem; 
        color: red; 
        margin-top: 1rem
    }
  }