.details {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 5rem;
    border-radius: 4px;
    margin-bottom: 0.75rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color:ghostwhite;
}
.details img {
    width: 30%;
}

.subContainer {
    position: relative;
    padding: 0.2rem;
}

.details h1 {
    font-size: 0.75rem;
    font-family: inherit;
    color: #657415;
}

.details h2 {
    font-size: 0.65rem;
    color: #5D5D5D;
    font-family: inherit;
}

.price {
    display: flex;
    align-items: baseline;
    /* background-color: blueviolet; */
}

.title {
    display: inline-block;
    vertical-align: top;
    /* background-color: aqua; */
}